// ─── VARIABLES ───────────────────────────────────────────────
$rojo: #881722;
$rojo-dark: #a00d24;
$negro: #111111;
$gris-oscuro: #222222;
$gris-medio: #555555;
$gris-medio-light: #d8d9db;
$gris-claro: #f5f5f5;
$blanco: #ffffff;

$font-titulo: "graphikmedium", serif;
$font-titulo-bold: "graphikbold", serif;
$font-body: "graphik_regularregular", sans-serif;

$transition-base: 0.2s ease;
$border-radius-base: 4px;
